:root {
  --button-speed: 0.3s;
  --quick-button-speed: 0.2s;
}

.appButton {
  border: 2px solid var(--darkSecondary);
  border-radius: 3px;
  color: var(--darkSecondary);
  background-color: var(--lightSecondary);
}

.translateButton {
  -webkit-transition: var(--button-speed);
  -moz-transition: var(--button-speed);
  -ms-transition: var(--button-speed);
  -o-transition: var(--button-speed);
  transition: var(--button-speed);
  background-color: var(--secondary);
  color: var(--lightSecondary);
}

.translateBackButton {
  -webkit-transition: var(--button-speed);
  -moz-transition: var(--button-speed);
  -ms-transition: var(--button-speed);
  -o-transition: var(--button-speed);
  transition: var(--button-speed);
  background-color: var(--lightSecondary);
  color: var(--darkSecondary);
}

.translateClickButton {
  -webkit-transition: var(--quick-button-speed);
  -moz-transition: var(--quick-button-speed);
  -ms-transition: var(--quick-button-speed);
  -o-transition: var(--quick-button-speed);
  transition: var(--quick-button-speed);
  background-color: var(--darkSecondary);
  color: var(--lightSecondary);
}
