.appButton {
  border: 2px solid var(--darkSecondary);
  border-radius: 3px;
  color: var(--darkSecondary);
  background-color: var(--lightSecondary);
}
.appButton:hover {
  background-color: var(--secondary);
  color: var(--lightSecondary);
}
