:root {
  --primary: #e2b340;
  --mediumPrimary: #f2dca6;
  --lightPrimary: #fcf6e9;
  --extraLightPrimary: #fffaf0;
  --darkPrimary: #59430d;
  --lightSecondary: #f0eff6;
  --secondary: #5b5194;
  --mediumSecondary: #a39cc9;
  --darkSecondary: #332d52;
  --black: #222;
  --white: #f2f2f2;
  --mediumGrey: #6e6969;
  --light: #c4c4c4;
  --danger: #aa1515;
  --dark: #333;
  --lightDanger: #fce9e9;
  --mediumDanger: #e74b4b;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  color: var(--darkSecondary);
  background-color: var(--extraLightPrimary);
}

.loading-animation {
  stroke: var(--darkSecondary);
}

.loading-animation g circle {
  fill: var(--darkSecondary);
  r: 0.5;
}

.loading-animation defs linearGradient stop {
  stop-color: var(--darkSecondary);
}

.main-body {
  width: 100%;
}

#whole-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-scroll {
  min-height: 100vh;
}

.body-no-scroll {
  min-height: auto;
}

.no-scroll {
  position: fixed;
}

/* Scroll-bar */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--mediumPrimary);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--darkPrimary);
}
