:root {
  --primary: #e2b340;
  --secondary: #5b5194;
  --black: #222;
  --white: #f2f2f2;
  --mediumGrey: #6e6969;
  --light: #c4c4c4;
  --danger: #aa1515;
  --dark: #333;
  --lightDanger: #fce9e9;
  --mediumDanger: #e74b4b;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif;
  color: var(--black);
  background-color: var(--white);
}
