:root {
  --log-in-start-point: -60px;
  --log-in-speed: 0.3s;
}

#header-container {
  position: relative;
}
.box-header {
  margin: 30px;
  height: 200px;
  width: 200px;
  background-color: red;
  position: relative;
  z-index: 1;
}
.login-form {
  position: absolute;
  margin-top: var(--log-in-start-point);
}
.signup-form {
  position: absolute;
  margin-top: var(--log-in-start-point);
}
.translate {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: 0px;
}
.translateBack {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: var(--log-in-start-point);
}
