:root {
  --log-in-start-point: -60px;
  --log-in-speed: 0.3s;
  --body-start-point: 0px;
  --nav-bar-start-point: -450px;
}

#header-container {
  position: relative;
}
.login-form {
  position: absolute;
  margin-top: var(--log-in-start-point);
}
.signup-form {
  position: absolute;
  margin-top: var(--log-in-start-point);
}
.translate {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: 0px;
}
.translateBack {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: var(--log-in-start-point);
}
.translateBody {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: 60px;
}
.translateBodyBack {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: var(--body-start-point);
}
.nav-mobile {
  margin-top: var(--nav-bar-start-point);
}
.translateNavMobile {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: 0;
}
.translateNavMobileBack {
  -webkit-transition: var(--log-in-speed);
  -moz-transition: var(--log-in-speed);
  -ms-transition: var(--log-in-speed);
  -o-transition: var(--log-in-speed);
  transition: var(--log-in-speed);
  margin-top: var(--nav-bar-start-point);
}
